.slogan
  color: $color-alt

.row
  +remIt('padding-top', $baseFontSize * 3)
  h3
    color: $color-alt

.logo
  +remIt('width', $baseFontSize * 10)
  +remIt('height', $baseFontSize * 10)
  margin: #{$baseFontSize * 3}px auto

.features
  &__item
    text-align: center
    #gulp-logo
      width: 15%
    #requirejs-logo
      width: 53.2%
    #sass-logo
      width: 45%
    p
      padding-top: #{$baseFontSize * 1.5}px